-# TODO: No more than 8 words

.center.hero-unit
  %h1 Welcome
  %p This is BGG Stats. Built to give you detailed BoardGameGeek stats.

  = link_to("Sign up!", signup_path, class: "btn btn-lg btn-info")